{
  "master": {
    "discord_token": "token",
    "ghost_token": "content api key",
    "discord_channel": 100000000000000000,
    "discord_guild": 100000000000000000,
    "shards": 1,
    "deploy_commands": true
  },
  "slave": {
    "discord_token": "token",
    "ghost_token": "content api key",
    "discord_channel": 100000000000000000,
    "discord_guild": 100000000000000000,
    "shards": 1,
    "deploy_commands": true
  }
}